<section class="links">
    <a href="mailto:isaaczais@hotmail.com?Subject=Your%20profile%20page%20caught%20my%20attention">
        <img src="/images/email.svg" class="social-media-link" alt="Email"/>
    </a>
    <a href="https://github.com/ArtificialBadger">
        <img src="/images/github.svg" class="social-media-link" alt="Github"/>
    </a>
    <a href="https://www.linkedin.com/in/isaac-zais-a8a403148/">
        <img src="/images/linkedin.svg" class="social-media-link" alt="LinkedIn"/>
    </a>
    <a href="https://stackoverflow.com/users/2212970/isaac-zais">
        <img src="/images/stackoverflow.svg" class="social-media-link" alt="Stack Overflow"/>
    </a>
    <a href="https://app.pluralsight.com/profile/isaac-zais">
        <img src="/images/pluralsight.svg" class="social-media-link" alt="Pluralsight"/>
    </a>
</section>